tr:hover{
    background-color: aqua;
}
table{
    border-collapse: collapse;
    width: 100%;
    position: relative;
    left: 10px;
}
th,td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
button:hover{
    background-color: chartreuse;
}
